@using MyFileItDirectAmbassador.MyFileItPEService
@model ReferralDTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Create an Account</h2>
    @using (Html.BeginForm("Create", "Referral", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <fieldset>
            <div class="form-group clear">
                <label class="col-md-4 control-label">*Email Address</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.EMAILADDRESS, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group clear">
                <label class="col-md-4 control-label">*Password</label>
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.PASSWORD, new { @class = "form-control" })
                </div>
            </div>
            @Html.Partial("~/Views/Referral/ReferralAddress.cshtml", Model)
            <div class="clear checkbox col-md-offset-2">
                <label class=""><input type="checkbox" value="">I agree to the terms and conditions of MyFile-IT PE Direct Ambassador Program</label>
               
                    <a href="#">View Agreement</a>
                
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <p></p>
                    <input type="submit" value="GET YOUR REWARDS CODE" class="btn btn-primary" />
                </div>
            </div>
        </fieldset>
    }
</div>
