@using MyFileItDirectAmbassador.MyFileItPEService
@model ReferralDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    @Html.Partial("~/Views/Referral/ReferralTransactions.cshtml", Model)

    @using (Html.BeginForm("Detail", "Referral", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.EMAILADDRESS)
        @Html.HiddenFor(model => model.PASSWORD)
        @Html.HiddenFor(model => model.REFERRALCODE)
        @Html.HiddenFor(model => model.DISCOUNTAMOUNT)
        @Html.HiddenFor(model => model.IMAGENAME)
        @Html.HiddenFor(model => model.DATECREATED)
        @Html.HiddenFor(model => model.LASTLOGINDATE)

        @Html.Partial("~/Views/Referral/ReferralTransactionsHidden.cshtml", Model)
        <div class="col-md-12">
            @Html.Partial("~/Views/Referral/ReferralAddress.cshtml", Model)
        </div>

        <div class="col-md-10 col-md-offset-1">
            @Html.Partial("~/Views/Referral/ReferralAccountInfo.cshtml", Model)
        </div>
        <div class="clear"></div>
        <div class="col-md-12 text-center">
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <p></p>
                    <input type="submit" value="Update" class="btn btn-block btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
