@using MyFileItDirectAmbassador.MyFileItPEService
@model List<ReferralDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Referral Users</h2>
<table class="table table-bordered table-responsive table-striped table-hover">
    <tr>
        <th>Email</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Referral Code</th>
        <th>Date Created</th>
        <th></th>
    </tr>
    @foreach (var referral in Model)
    {
        <tr>
            <td>
                @referral.EMAILADDRESS
            </td>
            <td>
                @referral.LASTNAME
            </td>
            <td>
                @referral.FIRSTNAME
            </td>
            <td>
                @referral.REFERRALCODE
            </td>
            <td>
                @referral.DATECREATED
            </td>
            <td>
                @Html.ActionLink("View", "AdminDetail", "Referral", new { referralId = referral.ID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>

